@model PSPCommerce.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                Add Product Images
                <input type="file" name="imageFiles" class="form-control" required multiple/>
                <span class="text-danger">@Html.ValidationMessage("imageFiles")</span>
                <div class="images">
                    @foreach (var image in Model.Images)
                    {
                        <div class="img-small-container">
                            <img class="img-small" src="/@image.ImageUrl" alt="image">
                            <a class="cross" asp-controller="ProductImage" asp-action="DeleteImage" asp-route-id="@image.ID">
                                ❌
                            </a>
                        </div>
                    }
                </div>
                @* <span asp-validation-for="ImageUrl" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<style>
    .images {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        margin: 1rem 0;
    }
    .img-small-container {
        position: relative;    
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-small-container a {
        text-decoration: none;
    }
    .img-small {
        height: 6rem;
    }

    .cross {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    .cross:hover {
        scale: 1.2;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
